.menu-navegacao {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 200px
}

.menu-navegacao ul {
  list-style: none;
  padding: 0;
  width: 40%;
}

.menu-navegacao ul li {
  margin-right: 10px; 
  margin-top: 10px;
}
  
.menu-navegacao button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.menu-navegacao button:hover,
.menu-navegacao button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.menu-navegacao button:hover {
  transform: translateY(-1px);
}

.menu-navegacao button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(36, 84, 20, 1);
  transform: translateY(0);
}

@media only screen and (max-width: 768px) {
  .menu-container {
      display: flex;
      justify-content: center;
      margin-top: 5vh;
      max-height: 50vh;
    }

  .menu-navegacao {
    width: 100%;
    margin-left: 15%;
  }

  .menu-navegacao nav ul {
    list-style: none;
    max-width: 80%;
  }

  .menu-navegacao nav ul {
    list-style: none;
  }

  .menu-navegacao nav ul li {
    margin-right: 10px; 
    margin-top: 10px;
  }
}