.menu-navegacao {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 200px
}

.menu-navegacao ul {
  list-style: none;
  padding: 0;
  width: 40%;
}

.menu-navegacao ul li {
  margin-right: 10px; 
  margin-top: 10px;
}
  
.menu-navegacao button {
  align-items: center;
  min-height: 3rem;
  width: 100%;
}
